body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #191919;
    padding: 0;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    height: 180px;
    padding-bottom: 50px;
}

.piano-svg {
    height: 462px;
    width: 462px;
}

@media (min-width: 768px) {
    .piano-svg {
        width: 800px;
        height: 800px;
    }
    .logo {
        height: 310px;
    }
}

nav {
    background-color: #333;
    overflow: hidden;
    text-align: center; /* Center the links horizontally */
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block; /* Center the list horizontally */
}

li {
    display: inline; /* Display list items inline */
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
}

#container {
    text-align: left; /* Align the content to the left within the container */
    background-color: #191919;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    max-width: 1000px; /* Set a fixed maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden; /* Prevent horizontal scrollbar if content overflows */
}


select {
    padding: 15px;
    margin: 10px;
    width: 200px;
    font-size: 20px;
    margin-bottom: 20px
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff; /* Light background color for the popup */
    color: #121212; /* Dark text color for the popup */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 25px;
}
#placeholderLink {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #3498db; /* Blue background color for the link */
    color: #ffffff; /* Light text color for the link */
    text-decoration: none;
    text-align: center;
}

#placeholderLink:hover {
    background-color: #2980b9; /* Darker blue background color on hover */
}

#viewIP {
    padding: 8px;
    background-color: green; /* Blue background color for the link */
    color: #ffffff; /* Light text color for the link */
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

#viewIP:hover {
    background-color: red; /* Darker blue background color on hover */
}

#readme-content {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color: white;
    max-width: 800px;
    margin: 0 auto;
}

#readme-content h1,
#readme-content h2,
#readme-content h3,
#readme-content h4,
#readme-content h5,
#readme-content h6 {
    color: #0366d6;
}

#readme-content p {
    margin-bottom: 1.5em;
}

#readme-content a {
    color: #0366d6;
    text-decoration: none;
}

#readme-content a:hover {
    text-decoration: underline;
}

#readme-content ul,
#readme-content ol {
    margin-bottom: 1.5em;
}

#readme-content code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #f6f8fa;
    padding: 2px 4px;
    border-radius: 4px;
}

#readme-content pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #f6f8fa;
    padding: 16px;
    border-radius: 4px;
    overflow: auto;
}

#readme-content blockquote {
    color: #6a737d;
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    margin: 0 0 20px;
}

#buttons
{
   text-align: center;
}