html {
  scroll-behavior: smooth;
}

.logo {
  display: flex;
  flex-direction: column; /* Display items vertically */
  align-items: center;
  padding-bottom: 35px;
  padding-top: 25px;
  margin-bottom: -65px;
}

/* Style for Piano text */
h1 .piano-text {
  color: white;
  font-weight: lighter;
}

/* Style for Lux text */
h1 .lux-text {
  color: #fff65d;
  font-family: "Comic Sans MS";
}

.piano-svg {
  height: 100px;
  width: 100px;
  margin-bottom: -30px;
}

#pianoKeysVisuals {
  height: 55px;
}

@media (min-width: 768px) {
  .piano-svg {
    width: 300px;
    height: 300px;
    margin-bottom: -100px;
  }
  .logo {
    margin-bottom: -120px;
  }
  h1 {
    font-size: 100px;
  }

  .buttons button {
    height: 100px;
    font-size: 50px;
  }
  #pianoKeysVisuals {
    height: 130px;
  }
}

body,
p {
  margin: 0;
  padding: 0;
}
.navbar {
  background: #191919;
  bottom: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 20;
}

.controls-icon {
  display: flex;
  padding: 15px;
  height: 55px;
}

.controls-icon:active {
  /* Change the background color when the icon is hovered or clicked */
  background-color: #007bff;
}

.mode-settings-icon {
  display: flex;
  padding: 15px;
  height: 55px;
}

.mode-settings-icon:active {
  /* Change the background color when the icon is hovered or clicked */
  background-color: #007bff;
}

.upload-icon {
  display: flex;
  padding: 15px;
  height: 55px;
}

.upload-icon:active {
  /* Change the background color when the icon is hovered or clicked */
  background-color: #006aff;
}

.info-icon {
  display: flex;
  padding: 15px;
  height: 55px;
}

.info-icon:active {
  /* Change the background color when the icon is hovered or clicked */
  background-color: #007bff;
}

#prg {
  opacity: 0%;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  background: #191919;
}

header {
  background-color: #191919;
  color: #cccccc;
}

h2 {
  color: #fff;
}

main {
  padding: 30px;
}

/* Add card styling to sections */
.card {
  scroll-margin-block-start: 100px;
}

.toggle-control {
  padding-top: 15px;
}

.toggle-control > .checkbox-wrapper-8 .tgl + .tgl-btn {
  width: 100%;
}

.control {
  padding-bottom: 15px;
}

label {
  font-weight: bold;
  color: #fff;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

input[type="range"] {
  width: 100%;
}

/* Style the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
  transform: translateX(26px);
  transform: translateX(26px);
}

.custom-dropdown {
  position: relative;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #46494b;
  border-radius: 20px;
  overflow: hidden;
}

.selected-item {
  padding: 15px;
  background-color: #46494b;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
}

.dropdown-list-modes {
  max-height: 210px; /* Maximum height to display 6 items */
  overflow-y: auto; /* Enable vertical scrollbar if needed */
  display: none;
}

.dropdown-list-animations {
  max-height: 210px; /* Maximum height to display 6 items */
  overflow-y: auto; /* Enable vertical scrollbar if needed */
  display: none;
}

.dropdown-item {
  padding: 15px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

/* Increase the size of the slider, track, and thumb */
.hue-slider {
  position: relative;
  width: 100%;
  height: 40px; /* Adjust the height as needed */
}

.track {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    hsl(0, 100%, 50%),
    /* Red (0 degrees) */ hsl(60, 100%, 50%),
    /* Yellow (60 degrees) */ hsl(120, 100%, 50%),
    /* Green (120 degrees) */ hsl(180, 100%, 50%),
    /* Cyan (180 degrees) */ hsl(240, 100%, 50%),
    /* Blue (240 degrees) */ hsl(300, 100%, 50%),
    /* Magenta (300 degrees) */ hsl(360, 100%, 50%)
      /* Red again (360 degrees) */
  ); /* Gradient representing the full hue spectrum from red to red */
  border-radius: 10px; /* Increased border-radius for the track */
}

.thumb {
  position: absolute;
  width: 45px; /* Adjust the thumb width as needed */
  height: 45px; /* Adjust the thumb height as needed */
  background-color: red;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  box-shadow: 0 0 0 6px white; /* Add a white edge (bezel) with a specified width */
}

/* Updated CSS for the Background Light slider */
.saturation-slider {
  position: relative;
  width: 100%;
  height: 40px; /* Adjust the height as needed */
}

.saturation-slider .track {
  width: 100%;
  height: 100%;
  background: #46494b;
  border-radius: 10px;
}

.saturation-slider .thumb {
  position: absolute;
  width: 45px; /* Adjust the thumb width as needed */
  height: 45px; /* Adjust the thumb height as needed */
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  box-shadow: 0 0 0 6px white; /* Add a white edge (bezel) with a specified width */
}

/* Updated CSS for the brightness slider */
.brightness-slider {
  position: relative;
  width: 100%;
  height: 40px; /* Adjust the height as needed */
}

.brightness-slider .track {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #000,
    transparent
  ); /* Gradient from black to transparent */
  border-radius: 10px;
}

.brightness-slider .thumb {
  position: absolute;
  width: 45px; /* Adjust the thumb width as needed */
  height: 45px; /* Adjust the thumb height as needed */
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  box-shadow: 0 0 0 6px white; /* Add a white edge (bezel) with a specified width */
}

/* Updated CSS for the fade slider */
.fade-slider {
  position: relative;
  width: 100%;
  height: 40px; /* Adjust the height as needed */
}

.fade-slider .track {
  width: 100%;
  height: 100%;
  background: #46494b;
  border-radius: 10px;
}

.fade-slider .thumb {
  position: absolute;
  width: 45px; /* Adjust the thumb width as needed */
  height: 45px; /* Adjust the thumb height as needed */
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  box-shadow: 0 0 0 6px white; /* Add a white edge (bezel) with a specified width */
}

/* Updated CSS for the Splash slider */
.splash-slider {
  position: relative;
  width: 100%;
  height: 40px; /* Adjust the height as needed */
}

.splash-slider .track {
  width: 100%;
  height: 100%;
  background: #46494b;
  border-radius: 10px;
}

.splash-slider .thumb {
  position: absolute;
  width: 45px; /* Adjust the thumb width as needed */
  height: 45px; /* Adjust the thumb height as needed */
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  box-shadow: 0 0 0 6px white; /* Add a white edge (bezel) with a specified width */
}

/* Updated CSS for the Background Light slider */
.bg-slider {
  position: relative;
  width: 100%;
  height: 40px; /* Adjust the height as needed */
}

.bg-slider .track {
  width: 100%;
  height: 100%;
  background: #46494b;
  border-radius: 10px;
}

.bg-slider .thumb {
  position: absolute;
  width: 45px; /* Adjust the thumb width as needed */
  height: 45px; /* Adjust the thumb height as needed */
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  box-shadow: 0 0 0 6px white; /* Add a white edge (bezel) with a specified width */
}

#maxCurrent,
#ledDataPin {
  width: 100%;
  height: 40px;
  color: white;
  background: #46494b;
  border: none; /* Remove border */
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

/* Updated CSS for the fade slider */
.split-slider {
  position: relative;
  width: 100%;
  height: 40px; /* Adjust the height as needed */
}

.split-slider .track {
  width: 100%;
  height: 100%;
  background: #46494b;
  border-radius: 10px;
}

.split-slider .thumb {
  position: absolute;
  width: 20px; /* Adjust the thumb width as needed */
  height: 45px; /* Adjust the thumb height as needed */
  border-radius: 0%;
  background-color: white;
  transform: translateY(-50%);
}

/* Target the spin buttons and hide them for all browsers */
input[type="number"] {
  appearance: textfield; /* Remove spin buttons in Firefox */
}

.colorControls {
  display: flex;
}
.buttons {
  display: flex;
}

button {
  margin-right: 5px;
  margin-top: 15px;
  width: 100%;
  height: 50px;
  z-index: 2;
  background: #46494b;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

button:active {
  color: red;
}

.checkbox-wrapper-8 .tgl {
  display: none;
}
.checkbox-wrapper-8 .tgl + .tgl-btn {
  width: 5.4em;
  height: 1em;
}
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn {
  overflow: hidden;
  transform: skew(0);
  background: #46494b;
  border-radius: 15px;
  margin-right: 10px;
}
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after,
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 1em;
  color: #fff;
}
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn {
  background: #006aff;
}
.checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}

.toggles {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
}

select {
  padding: 15px;
  border-radius: 15px; /* Round the corners */
  width: 100%;
  background: #46494b;
  color: white;
  font-weight: bold;
  text-align: center; /* Center-align the text */
}

.control select {
  text-align: left; /* Justify text left-aligned */
  font-weight: bold;
  font-size: 20px;
}

footer {
  background: #191919;
  color: #cccccc;
  text-align: center;
  font-size: 25px;
}
.footer-link {
  color: #cccccc;
  text-decoration: none; /* Remove underline if you want */
  padding-bottom: 35px;
}
