/* Reset some default styles for cross-browser consistency */
html{
    scroll-behavior: smooth;
}



.logo
{
    display: flex;
    padding: 25px;
    justify-content: left;
    align-items: center; /* Add this line to center vertically */
}

h1
{
    padding-left: 15px;
    font-size: 50px;
}
.piano-svg
{
    height: 100px;
    width: 100px;
}

@media (min-width: 768px) {
    .logo{
        justify-content: center;
    }
    .piano-svg {
        width: 300px;
        height: 300px;
    }
    h1{
        font-size: 100px;
    }
}

body, p {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #191919;
    top: 0;
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: center; /* Center horizontally */
    opacity: 0; /* Initially hide the navbar */
    transition: opacity 0.3s ease-in-out; /* Add a transition effect */
    z-index: 20;
}

.controls-icon {
    display: flex;
    padding: 15px;
    height: 55px;
}

.controls-icon:active {
    /* Change the background color when the icon is hovered or clicked */
    background-color: #006AFF;
}

.mode-settings-icon {
    display: flex;
    padding: 15px;
    height: 55px;
}

.mode-settings-icon:active {
    /* Change the background color when the icon is hovered or clicked */
    background-color: #006AFF;
}

body {
    font-family: Arial, sans-serif;
    background-color: #191919;
}

header {
    background-color: #191919;
    color: #cccccc;
}

h2 {
    color: #fff;
}

main {
    max-width: auto;
    padding: 35px;
    padding-top: 10px;
    background-color: #191919;
}

/* Add card styling to sections */
.card {
    background-color: #323232;
    padding: 30px;
    margin-top: 15px;
    border-radius: 40px;
    height: 700px;
    scroll-margin-block-start: 100px;
}

/* Style control labels and inputs */
.control {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="range"] {
    width: 100%;
}

/* Style the toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.custom-dropdown {
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #46494b;
    border-radius: 20px;
    overflow: hidden;
}

.selected-item {
    padding: 15px;
    background-color: #46494b;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.dropdown-list-modes {
    max-height: 180px; /* Maximum height to display 6 items */
    overflow-y: auto; /* Enable vertical scrollbar if needed */
    display: none;
}

.dropdown-list-animations {
    max-height: 180px; /* Maximum height to display 6 items */
    overflow-y: auto; /* Enable vertical scrollbar if needed */
    display: none;
}

.dropdown-item {
    padding: 15px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

/* Increase the size of the slider, track, and thumb */
.hue-slider {
    position: relative;
    width: 100%;
    height: 40px; /* Adjust the height as needed */
}

.track {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, 
        hsl(0, 100%, 50%),    /* Red (0 degrees) */
        hsl(60, 100%, 50%),   /* Yellow (60 degrees) */
        hsl(120, 100%, 50%),  /* Green (120 degrees) */
        hsl(180, 100%, 50%),  /* Cyan (180 degrees) */
        hsl(240, 100%, 50%),  /* Blue (240 degrees) */
        hsl(300, 100%, 50%),  /* Magenta (300 degrees) */
        hsl(360, 100%, 50%)   /* Red again (360 degrees) */
    ); /* Gradient representing the full hue spectrum from red to red */
    border-radius: 10px; /* Increased border-radius for the track */
}

.thumb {
    position: absolute;
    width: 45px; /* Adjust the thumb width as needed */
    height: 45px; /* Adjust the thumb height as needed */
    background-color: transparent;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
    box-shadow: 0 0 0 6px white; /* Add a white edge (bezel) with a specified width */
}

/* Updated CSS for the brightness slider */
.brightness-slider {
    position: relative;
    width: 100%;
    height: 40px; /* Adjust the height as needed */
}

.brightness-slider .track {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000, transparent); /* Gradient from black to transparent */
    border-radius: 10px;
}

.brightness-slider .thumb {
    position: absolute;
    width:  45px; /* Adjust the thumb width as needed */
    height: 45px; /* Adjust the thumb height as needed */
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
    box-shadow: 0 0 0 6px white; /* Add a white edge (bezel) with a specified width */
}

/* Updated CSS for the fade slider */
.fade-slider {
    position: relative;
    width: 100%;
    height: 40px; /* Adjust the height as needed */
}

.fade-slider .track {
    width: 100%;
    height: 100%;
    background: #46494b;
    border-radius: 10px;
}

.fade-slider .thumb {
    position: absolute;
    width: 45px; /* Adjust the thumb width as needed */
    height: 45px; /* Adjust the thumb height as needed */
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
    box-shadow: 0 0 0 6px white; /* Add a white edge (bezel) with a specified width */
}


/* Updated CSS for the Splash slider */
.splash-slider {
    position: relative;
    width: 100%;
    height: 40px; /* Adjust the height as needed */
}

.splash-slider .track {
    width: 100%;
    height: 100%;
    background: #46494b;
    border-radius: 10px;
}

.splash-slider .thumb {
    position: absolute;
    width:  45px; /* Adjust the thumb width as needed */
    height: 45px; /* Adjust the thumb height as needed */
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
    box-shadow: 0 0 0 6px white; /* Add a white edge (bezel) with a specified width */
}


footer {
    background-color: #191919;
    color: #cccccc;
    text-align: center;
    font-size: 25px;
    padding: 15px;
}