/* Reset some default styles for cross-browser consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: darkslategray;
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    max-width: auto;
    margin: 30px auto;
    padding: 20px;
    background-color: darkslategray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 10px;
}

/* Add card styling to sections */
.card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style control labels and inputs */
.control {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="range"] {
    width: 100%;
}

/* Style the toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}



footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}
